<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Glitch!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">


  </head>
  <body>
    <header>
      <h1>WebGL Multi Drawing Server</h1>
    </header>

    <main>
      <p>This is basic multi-player drawing system server for Unity WebGL.</p>
      <p>Using socket.io as communication tool and package data as json format.</p>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

  </body>
</html>
